.order-car {
  .main-nav {
    margin: 0;
  }
}

.order-car-header {
  width: 100%;
  height: 720px;
  background: url("../assets/car-select-background.jpg") center;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 9;
    position: absolute;
  }
}

.order-detail {
  z-index: 10;
  position: relative;
  height: 100%;
}

.order-detail__info {
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 900;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 10rem;
  }

  h4, h2 {
    color: #fff;
    text-align: center;
  }
}

.order-detail__image {
  position: absolute;
  bottom: 0;
  transform: translate3d(-50%, 0, 0);
  left: 50%;
}