.row-action {
  position: relative;

  &__menu {
    position: absolute;
    top: 2rem;
    right: -1.25rem;
    z-index: 999;
    background: #fff;
    padding: 1rem;
    box-shadow: $shadow-strong;
    border-radius: 0.25rem;
    //width: 16rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &--open {
      opacity: 1;
      visibility: visible;
    }

    ul {
      font-size: 0.9rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li + li {
        margin-top: 0.5rem;
      }

      li a {
        text-decoration: none;
        white-space: nowrap;
        display: block;
      }
    }
  }
}