// Variables
@import "variables";

// Vendors
// @import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import "fontawesome/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,800");
@import "node_modules/bootstrap/scss/bootstrap";

// Overrides
@import "overrides";

// Utils
@import "utils/general";
@import "utils/transitions";

// Layout
@import "layout";

// Components
@import "components/nav";
@import "components/logo";
@import "components/box";
@import "components/car-card";
@import "components/car-colors";
@import "components/check-handler";
@import "components/account-dropdown";
@import "components/shopping-dropdown";
@import "components/price-filter";

// Pages
@import "app/pages/home";
@import "app/pages/explore-cars";
@import "app/pages/order-car";
@import "app/pages/order-complete";
@import "app/pages/register-user";
@import "app/pages/registration-complete";
@import "app/pages/profile";
