.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.5s;
}

.slide-fade-enter, .slide-fade-leave-active {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(2rem);
}

.slide-fade-leave-active {
  transform: translateX(-2rem);
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to
{
  opacity: 0;
}