.home {
  width: 100%;
  height: 100%;
}

.home-header {
  width: 100%;
  height: 52rem;
  background: url("../assets/header.jpg");
  position: relative;

  .container-fluid {
    position: relative;
    z-index: 3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.header-nav {
  display: flex;
  padding-top: 2rem;

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    position: relative;

    .nav-menu__item {
      display: inline-block;

      &.has-order {
        position: relative;

        &::after {
          content: '';
          width: 10px;
          height: 10px;
          background: $primary-color;
          position: absolute;
          top: 0;
          right: -6px;
          border-radius: 9999px;
        }
      }

      + li {
        margin-left: 2rem;
      }

      a {
        color: rgba(255, 255, 255, 0.6);
        font-weight: 600;
        font-style: italic;
        font-size: 0.9rem;
      }

      &:hover,
      &.active {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.header-text {
  h1, h4 {
    letter-spacing: 1px;
    text-align: center;
  }

  h1 {
    font-weight: 900;
    font-style: italic;
    color: #fff;
    margin-top: 15rem;
  }

  h4 {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    margin-bottom: 3rem;
  }

  a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 999px;
    padding: 0.5rem 3rem;
    transition: all 0.15s ease;
    letter-spacing: 1px;

    &:hover {
      color: $dark-color;
      background: #fff;
    }
  }
}
