.order-car {
  height: 100%;
}

.order-car-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.order-car__sidebar {
  width: 30rem;
  height: 100%;
  background: #fff;
  padding: 2rem;
  flex-shrink: 0;
  overflow: auto;

  h4 {
    font-weight: 600;
  }

  .sub-title {
    color: transparentize($body-color, 0.2);
    font-style: italic;
  }
}

.order-car__car-image {
  margin-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f3f3f3;

  img {
    width: 100%;
    height: auto;
  }
}

.order-car__order-info {
  i.fal,
  i.far,
  i.fas {
    font-size: 1.4rem;
    margin-right: 0.75rem;
    width: 24px;
    color: transparentize($body-color, 0.5);
    position: relative;
    top: 3px;
  }

  li {
    padding: 0.5rem 0;
  }
}

.order-car__accessories-info {
  span {
    margin: 0;

    + span {
      margin-left: 0.75rem;
    }

    &:last-child {
      color: transparentize($body-color, 0.4);
    }
  }
}

.order-car__main {
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.order-steps {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  position: relative;
  display: flex;

  &:after {
    content: "";
    width: 100%;
    height: 2px;
    background: transparentize($body-color, 0.8);
    position: absolute;
    top: 50%;
    margin-top: -2px;
    z-index: 8;
  }

  li {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;

    &:last-child {
      flex-grow: inherit;
    }

    .order-steps__indicator {
      width: 2rem;
      height: 2rem;
      display: inline-block;
      border-radius: 9999px;
      border: 2px solid transparentize($body-color, 0.8);
      line-height: calc(2rem - 4px);
      text-align: center;
      color: transparentize($body-color, 0.8);
      font-weight: 600;
      position: relative;
      z-index: 9;
      background: #fafafa;
    }

    .order-steps__info {
      position: absolute;
      display: none;
    }

    .order-steps__progress {
      width: 0;
      height: 2px;
      background: $primary-color;
      position: absolute;
      top: 50%;
      margin-top: -2px;
      z-index: 8;
      transition: all 0.3s ease-in-out;
    }

    &.is-active {
      .order-steps__indicator {
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.1);
        border-color: #fff;
        color: $primary-color;
      }
    }

    &.is-done {
      .order-steps__indicator {
        background: $primary-color;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.1);
        border-color: $primary-color;
        color: #fff;
      }

      .order-steps__progress {
        width: 100%;
      }
    }
  }
}

.order-panels {
  padding: 2rem;
  flex-grow: 1;
  overflow: auto;

  h4 {
    margin-bottom: 2rem;
  }
}

.order-navigation {
  width: 100%;
  height: 5rem;
  background: #f0f0f0;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;

  .order-bar-btn__same-size {
    width: 12rem;
  }
}

.order-accessories {
  li {
    padding: 0.75rem 0;
    cursor: pointer;

    span + span {
      margin-left: 0.75rem;
    }

    .order-accessories__cost {
      color: transparentize($body-color, 0.4);
    }

    &:hover {
      .check-handler {
        i {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.order-payment-method {
  li {
    font-size: 4rem;
    display: inline-block;
    color: transparentize($body-color, 0.6);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;

    &.is-active,
    &:hover {
      color: $primary-color;
    }
  }
}