.profile, .profile-wrapper {
  height: 100%;
}

.profile-wrapper {
  margin: 0 2rem;
  display: flex;
  padding-bottom: 2rem;

  .profile-info {
    width: 18rem;
    flex-shrink: 0;

    .profile-info-card {
      position: relative;
      animation: slide-in 0.5s ease-in-out;
      background: $primary-color;
      margin: 4rem 0;
      border-radius: 0.25rem 0 0 0.25rem;
      padding: 2rem 1rem;
    }

    .profile-avatar {
      text-align: center;
      color: #fff;
      i {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      h6 {
        color: #fff;
      }
    }

    .user-info {
      margin-top: 2rem;
      opacity: 1;
      visibility: visible;
      animation: fade-in 0.75s ease-in-out;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;

        i {
          flex-shrink: 0;
          color: #fff;
        }

        span {
          color: rgba(255, 255, 255, 0.8);
          font-size: 90%;
          word-break: break-word;
        }
      }

      .btn-profile-edit {
        margin-top:1rem;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;

        &:hover,
        &.active {
          background-color: #fff;
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
  }

  .profile-container {
    flex-grow: 1;
    height: 100%;
    position: relative;
    z-index: 99;
    overflow: auto;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
      flex-shrink: 0;
      margin-bottom: 2rem;

      h3 {
        margin-bottom: 1rem;
      }

      h5 {
        color: transparentize(#212529, 0.3);
      }
    }

    &__content {
      flex-grow: 1;
      overflow: auto;
    }
  }

  .order-item {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;

    .badge {
      background: rgba(0, 0, 0, 0.08);
      font-weight: 600;
      padding: 0.5rem;
    }

    .badge + .badge {
      margin-right: 1rem;
    }

    span + span {
      margin-left: 0.5rem;
    }

    span:last-child {
      margin-left: 1rem;
    }

    .order-price {
      flex-grow: 1;
    }
  }
}

@keyframes slide-in {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  0%,
  50% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}