.account-dropdown {
  position: absolute;
  top: 3rem;
  z-index: 999;
  background: #fff;
  padding: 1.5rem;
  box-shadow: $shadow-strong;
  border-radius: 0.25rem;
  right: -1.5rem;
  width: 16rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    right: 10px;
    z-index: -999;
  }

  &__no-account,
  &__account {
    font-size: 0.9rem;
  }

  &__account {
    em {
      margin-bottom: 1rem;
      display: block;
    }

    ul {
      li {
        margin-bottom: 1rem;
      }
    }
  }

  &__no-account {
    input {
      font-size: 0.9rem;
    }

    .input-container {
      position: relative;
      margin-bottom: 1rem;

      i.fal {
        position: absolute;
        line-height: calc(3rem + 2px);
        padding: 0 0.75rem;
      }

      input {
        padding-left: 2rem;
      }
    }

    a {
      font-size: 90%;
    }
  }
}