// TODO: DESIGN IT BETTER

.card-padding {
  margin-bottom: 2rem;
}

.car-card {
  flex-direction: column;
  overflow: hidden;
}

.car-card__header {
  figure {
    flex-direction: column;
    display: flex;
    min-height: 10rem;
    justify-content: center;
  }
}

.car-card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.car-card__body-top {
  display: flex;

  .car-price {
    flex-grow: 1;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic;
  }
}

.car-card__body-middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  flex-grow: 1;

  .car-brand {
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
    color: $heading-color;
  }
}

.car-card__body-footer {
  .btn {
    padding: 0.75rem
  }
}
