// TODO: DESIGN IT BETTER

.card-padding {
  margin-bottom: 2rem;
}

.car-card {
  flex-direction: column;
  overflow: hidden;
}

.car-card__header {
  figure {
    flex-direction: column;
    display: flex;
    min-height: 10rem;
    justify-content: center;
  }
}

.car-card__body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.car-card__body-top {
  display: flex;

  .car-price {
    flex-grow: 1;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: italic;
  }

  .car-colors {
    &__item {
      display: inline-block;
      border: 1px solid #dbdbdb;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 9999px;
      line-height: 0;
      cursor: pointer;

      + .car-colors__item {
        margin-left: 0.5rem;
      }

      span {
        border: 2px solid #fff;
        border-radius: 9999px;
        height: 100%;
        width: 100%;
        display: inline-block;
      }

      &--active,
      &:hover {
        border-color: $primary-color;
      }
    }
  }
}

.car-card__body-middle {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  flex-grow: 1;

  .car-brand {
    font-size: 1.25rem;
    font-weight: 600;
    display: block;
  }
}

.car-card__body-footer {
  .btn {
    padding: 0.75rem
  }
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.5s;
}
.slide-fade-enter, .slide-fade-leave-active {
  opacity: 0;
}
.slide-fade-enter {
  transform: translateX(2rem);
}
.slide-fade-leave-active {
  transform: translateX(-2rem);
}
