.logo {
    svg {
        height: 3rem; 
    }

    &--white {
        svg {
            fill: #fff;
        }
    }

    &--smaller {
        svg {
            height: 2rem;
        }
    }
}


@media (min-width: 768px) {
    .logo {
        &--smaller {
            svg {
                height: 2.5rem;
            }
        }
    }
}