.main-nav {
  background-color: $dark-color;
  padding: 1rem 0;
  margin-bottom: 2rem;
  height: 4.5rem;
  max-height: 4.5rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;

  .list-unstyled {
    margin-bottom: 0;
  }
}
