.main-nav {
  background-color: $dark-color;
  padding: 1rem 0;
  margin-bottom: 2rem;
  height: 4.5rem;
  max-height: 4.5rem;
  position: fixed;
  z-index: 90;
  width: 100%;
  top: 0;

  .list-unstyled {
    margin-bottom: 0;
  }
}

.login {
  position: relative;
}

.login-content {
  position: absolute;
  top: 2.4rem;
  z-index: 999;    
  background: #fff;
  padding: 1.5rem;
  box-shadow: $shadow-strong;
  border-radius: 0.25rem;
  right: -1.5rem;
  width: 16rem; 
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  a, a:hover {
    color: $primary-color !important;
    font-size: 0.8rem !important;
    line-height: 2rem;
  }

  
  .password-icon {
    float: left;
    margin-left: 0.8rem;
    margin-top: -2.65rem;
    position: relative;
    z-index: 2;
    color: $body-color;
  }

  .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;

    .icon {
      padding: 1.1rem 0.65rem;
      padding-right: 0;
      color: $body-color;
      width: 2rem;
      text-align: center;
      position: absolute;
    }
  

    input {
      padding-left: 2.75rem;
    }
  }

  .text-forgot-password{
    margin-top: 0.5rem;

    a {
      font-style: normal !important;
    }
  }

  .text-register {
    a {
      line-height: 0;
      font-style: normal !important;
    }
  }

  hr {
    margin:0.5rem 0;
  }
}

.login-content:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  right: 10px;
  z-index: -999;
}
